
/**
* @file
* Certify CSS
*
* CSS definitions for the certify module
*/

/* the certify stats */  
.certify_bar-border {
	width: 200px;
	height: 27px;
	background: #eee;
	border: 1px solid #e0e0e0;
	padding: 5px; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.certify_bar-fill {
	width: 200px;
	background: url('progress-static.png');
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.certify_bar-bar {
	height: 21px;
	padding-top: 6px;
	text-align: center;
  background: #4287cc;
  clear: none;
	-moz-border-radius: 3px 0 0 3px;
	-webkit-border-radius: 3px 0 0 3px;
}

.certify_bar-bar.complete {
	text-align: left;
  background: #9cd168;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  }
  
.certify_bar-bar span.progress {
  color: white;
  padding: 0 4px;
  margin-left: 3px;
  background: #99badb;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.certify_bar-bar.complete span.completed img {
  vertical-align: top;
  border: none;
  float: none;
  margin: 0;
  padding: 0;
}

.certify_bar-bar.complete span.completed a {
  text-decoration: none;
  color: #4287cc;
  margin: 0 0 0 3px;
}

.certify_details {
  font-size: 75%;
  float: right;
}

.certify_blockbody {
  margin-bottom: 0;
}

.certify_condlist .not_achieved,
.certify_condlist .not_achieved a,
.certify_condlist .not_achieved a:link,
.certify_condlist .not_achieved a:visited,
.certify_condlist .not_achieved a:hover,
.certify_condlist .not_achieved a:active
{
  color: red;
}

.certify_condlist .achieved,
.certify_condlist .achieved a,
.certify_condlist .achieved a:link,
.certify_condlist .achieved a:visited,
.certify_condlist .achieved a:hover,
.certify_condlist .achieved a:active
{
  text-decoration: line-through;
}

ul.certify_condlist ul {
  margin-bottom: 0;
}

.certify_passed { color: green; }
.certify_failed { color: red; }
